Package: com.aehmlo.orangemenot
Name: OrangeMeNot
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Aehmlo Lxaitn
Author: Aehmlo Lxaitn
Section: Tweaks
